[core]
	excludesFile = ~/.gitignore_global
	autocrlf = input
	editor = vim
[user]
	name = "Arthur Monney"
	email = monneylobe@gmail.com
[fetch]
	prune = true
[push]
    # Automatically set origin as the remote for current branch
    autoSetupRemote = true
[init]
	defaultBranch = main
